<div class="row">
<div class="col-xs-12 col-md-6">
	<div id="map" ng-controller="MapCtrl">
		<google-map center="map.center" zoom="map.zoom" draggable="true" dragging="map.dragging">
			<markers models="items" coords="'self'" icon="'icon'">
	      <windows>
	        <img ng-non-bindable src="{{url}}" width="200px;" class="img-responsive" />
	      </windows>
			</markers>
		</google-map>
	</div>
</div>

<div class="col-xs-12 col-md-6"></div>
</div>