<div class="row">
<div class="col-xs-12 col-md-6">
	<div id="map" ng-controller="MapCtrl">
		<google-map 
			center="map.center" 
			zoom="map.zoom" 
			draggable="true" 
			dragging="map.dragging" 
			events="map.events" 
			control="map.control" 
			refresh="true">
			<marker ng-repeat="marker in map.markers" 
          coords="marker.mcoords"
          icon="marker.icon"
          click="onMarkerClicked(marker)">
        <window show="marker.showWindow">
          <img ng-src="{{marker.url}}" width="150px;" class="img-responsive" ng-click="focusImage(marker)" />
          <p class="text-muted text-right">
	          <small>{{marker.tweet_created_at}}</small>
          	<small><a href="{{marker.tweet_url}}" target="_blank">@{{marker.screen_name}}</a></small>
          </p>
        </window>
      </marker>
		</google-map>
	</div>
</div>

<div class="col-xs-12 col-md-6">
	<div id="zoom"></div>
	<div id="gallery" ng-controller="GalleryCtrl">
  	<div class="thumb col-xs-12 col-sm-6 col-md-4" ng-repeat="tweet in tweets">
			<img ng-src="{{tweet.image_url}}" class="img-thumbnail img-responsive" ng-click="focusMarker(tweet)" />
  	</div>
	</div>
</div>
</div>