<style>
.angular-google-map-container { height: 250px; }
</style>

<div class="row" ng-controller="PhotoDetailCtrl">

<div class="col-xs-8">
	<div class="picture">
		<img ng-src="{{map.markers[0].url}}" class="img-thumbnail img-responsive" ng-cloak>
	</div>

	<br>
	<ul class="list-inline">
		<li ng-repeat="tweet in tweets">
		<a href="/photos/{{tweet.id}}">
			<img ng-src="{{tweet.image_url}}" class="img-thumbnail img-responsive image-resize" />
		</a>
		</li>
	</ul>
</div>

<div class="col-xs-4">

<div class="panel panel-danger">
<div class="panel-heading">Information</div>
<div class="panel-body">
	<p><a href="{{map.markers[0].tweet_url}}">@{{map.markers[0].screen_name}}</a></p>
	<p>{{map.markers[0].text}}</p>
	<p class="text-mute text-right">{{map.markers[0].tweet_created_at}}</p>
</div>
</div>

<div class="panel panel-danger">
<div class="panel-heading">Map</div>
<div class="panel-body">
	<div id="map">
		<google-map 
			center="map.center" 
			zoom="map.zoom" 
			draggable="map.draggable" 
			dragging="map.dragging" 
			events="map.events" 
			control="map.control" 
			refresh="true">
			<marker ng-repeat="marker in map.markers" 
          coords="marker.mcoords"
          icon="marker.icon"
          click="">
      </marker>
		</google-map>
	</div>
</div>
</div>

<div class="text-center">
	<iframe frameborder="0" allowtransparency="true" height="250" width="300" marginheight="0" scrolling="no" src="http://ad.jp.ap.valuecommerce.com/servlet/htmlbanner?sid=3130064&pid=882659046" marginwidth="0"><script language="javascript" src="http://ad.jp.ap.valuecommerce.com/servlet/jsbanner?sid=3130064&pid=882659046"></script><noscript><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3130064&pid=882659046" target="_blank" ><img src="http://ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3130064&pid=882659046" height="250" width="300" border="0"></a></noscript></iframe>
</div>

</div>

</div>