<nav class="navbar navbar-default navbar-custom" style="background-color:#EC87C0;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Sakuran', root_path, class: "navbar-brand" %>
    </div>
  </div>
</nav>
